<p id="notice"><%= notice %></p>
<h1>Products#index</h1>
<p>Find me in app/views/product/index.html.erb</p>

<%= form_tag  do %>

<br>
<br>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image url</th>
        <th>Product Type</th>
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
      <tr>
          <td><%= product.name %></td>
          <td><%= product.color %></td>
          <td><%= product.description %></td>
          <td class="price"><%= product.price %></td>
          <td class="image"><%= link_to (product.image_url) %></td>

          <!-- <td class="protype"></td> -->

          <h1><% 5 > 6 %></h1>
          <td>
            <% if product.price.to_i < 100 %>
              very small
            <% elsif (product.price >= 100 && product.price < 500) %>
              small
            <% elsif (product.price>=500 && product.price < 1000) %>
              medium
            <% elsif (product.price>=100 && product.price < 1500) %>
              large
            <% elsif (product.price >= 1500) %>
              ex large
            <% end %>
          </td>

          <td><%= link_to 'edit', edit_product_path(product) %></td>
          <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Product', new_product_path %>

<% end %>