<%= form_tag "/products" do %>
  
  <br>
  <div>
    <%= label_tag "Name" %>
    <%= text_field_tag "product[name]", @product.name %>
  </div>

  <br>
  <div>
    <%= label_tag "Description" %>
    <%= text_field_tag "product[description]", @product.description %>
  </div>

  <br>
  <div>
    <%= label_tag "Price" %>
    <%= text_field_tag "product[price]", @product.price %>
  </div>

  <br>
  <div>
    <%= label_tag "Image_url" %>
    <%= text_field_tag "product[image_url]", @product.image_url %>
  </div>

  <br>
  <div>
    <%= submit_tag "create product" %>
  </div>
  <br>
  
<% end %>