<strong><p><%= notice %></p></strong>
<h1>This is index page</h1>

<%= form_tag "/products", :method => "get" do %>
  <%= label_tag(:search, "Enter the name you want to search") %>
  <%= text_field_tag :search, params[:search]  %>
  <%= submit_tag "Search" %>
<% end %>
<br><br>

<%= form_tag products_destroy_path, method: :post do %>  
  <table>
    <thead>
	  <tr>
	  	<th id="checkall"><%= check_box_tag 'select_all' %></th>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Price</th>
	    <th>Image</th>	
	  </tr>
    </thead>
	
    <tbody>
  	  <% @products.each do |product| %>
  	    <% if product.deleted? %>
	      <tr class="softdelete">
	    <% else %>
	      <tr>
	    <% end %>
	        <td><%= check_box_tag "product_ids[]", product.id, checked = false ,class: "mycheck" %></td>
	        <td><%= product.name %></td>	
	        <td><%= product.description %></td>	
	        <td><%= product.price %></td>	
	        <td><%= product.image_url %></td>	

	        <td><%= link_to 'edit', edit_product_path(product),class: 'btn' %></td>
	        <td><%= link_to 'delete', product, method: :delete, data: { confirm: "Are you sure? "},class: 'btn',id: 'red' %></td>
	        <td><%= link_to 'soft delete', "/soft-delete/#{product.id}",class: 'btn',id: 'red' %></td>
	        <td><%= link_to 'un delete', "un-delete/#{product.id}",class: 'btn' %></td>

	      </tr>
	  <% end %>
    </tbody>
  </table>

  <br><br>
  <%= link_to 'Create New Product', new_product_path, id: 'newproduct' %>
  <br><br>
  <!--<%= link_to 'Create New Product using form_for', "/new1/" %>
  <br><br>
  <%= link_to 'Create New Product using form_tag', "/new2/" %> -->
  <div>
  	&nbsp &nbsp <%= submit_tag "Multi-Delete", id: 'multi_delete_btn' %>
  </div>

<% end %>