<strong><p><%= notice %></p></strong>
<h1>This is index page</h1>

<table>
  <thead>
	<tr>
	  <th>Name</th>
	  <th>Description</th>
	  <th>Price</th>
	  <th>Image</th>	
	</tr>
  </thead>
	
  <tbody>
  	  <% @products.each do |product| %>
	    <tr>
	      <td><%= product.name %></td>	
	      <td><%= product.description %></td>	
	      <td><%= product.price %></td>	
	      <td><%= product.image_url %></td>	

	      <td><%= link_to 'edit', edit_product_path(product) %></td>
	      <td><%= link_to 'delete', product, method: :delete, data: { confirm: "Are you sure? "} %></td>

	    </tr>
	  <% end %>
  </tbody>
</table>

<br><br>
<%= link_to 'Create New Product using form_with', new_product_path %>
<br><br>
<%= link_to 'Create New Product using form_for', "/new1/" %>
<br><br>
<%= link_to 'Create New Product using form_tag', "/new2/" %>