<!DOCTYPE html>
<html>
  <head>
    <title>FormValidation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
        function func1(){
            document.getElementById("btn").value="Check Validation";
        }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
