<h2>Home#Index</h2>

<%# debugger %>
<% if user_signed_in? %>
  <h1>Hello <%= current_user.name %></h1>
  <h2>Welcom to Contact Book</h2>
  <ul>
  	<strong><li>Profile pic: </strong><%= current_user.profile_pic %></li>
  	<strong><li>Name: </strong> <%= current_user.name %> </li>
  	<strong><li>Phone: </strong> <%= current_user.phone_number %></li>
  	<strong><li>Gender: </strong> <%= current_user.gender %></li>
  	<strong><li>Email: </strong> <%= current_user.email %></li>
  </ul>
  <%= link_to 'Edit Profile', edit_user_registration_path %>
  <br>
  <%= link_to 'New Contact', new_contact_path %>
  <br>
  <%= link_to 'Contacts', contacts_path %>
  <br>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign_in', user_session_path %>
  <br>
  <%= link_to 'Sign_up', new_user_registration_path %>
<% end %>